<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#toggle-password-form" data-toggle="collapse">{{ __('Password') }}</a>
        </h4>
    </div>
    <form id="toggle-password-form" action="/profile/password" method="post" class="panel-collapse collapse">
        <div class="panel-body form-group">
            <label for="new-password">{{ __('New password') }}</label>
            <input type="password" name="new-password" class="form-control" id="new-password"
                   autocomplete="new-password" />
            <label for="new-password-repeat">{{ __('Repeat new password') }}</label>
            <input type="password" name="new-password-repeat" class="form-control"
                   autocomplete="off"
                   id="new-password-repeat" />
        </div>
        <div class="panel-footer">
            {{ token() }}
            <button type="submit" name="submit" class="form-control">{{ __('Change password') }}</button>
        </div>
    </form>
</div>
